.sidebar{
    width:250px;
    height:100vh;
    background:#0e4cd3;
    position:fixed;
    left:0;
    top:0;
    transition:0.3s;
}

.sidebar.closed{
    left:-250px;
}

.nav-link{
    color:rgb(24, 177, 151);
    padding:15px 20px;
    font-size:18px;
}
