.navbar{
    margin-left: 50px;
}

.form-control{
 
}


.layout{
    display:flex;
    min-height:100vh;
}

.contenido{
    margin-left:250px;
    flex:1;
    transition:0.3s;
    background-color: #f3e7f3;
}

.contenido.expand{
    margin-left:0;
}